.full-screen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* You can change the background color as needed */
}
.full-screen-iframe iframe {
    width: 100%;
    height: 100%;
    border: none; /* Removes iframe border */
}