.dockerignore
.env
.editorconfig
.eslintignore
.eslintrc.js
.git
.gitignore
.idea
.prettierignore
.scannerwork
.snyk
.vscode
/dist
/frontendapplication
/www
*Dockerfile*
*docker-compose*
*docker-stack*
sonar-project.properties
test-coverage
node_modules